.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.sidebar-icon,
.sidebar-text {
  color: #030448;
  transition: color 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #4f4f7f;
}

.sidebar-item:hover .sidebar-icon,
.sidebar-item:hover .sidebar-text {
  color: #dcf3fb;
}

.sidebar-item.active {
  background-color: #030448;
}

.sidebar-item.active .sidebar-icon,
.sidebar-item.active .sidebar-text {
  color: #dcf3fb;
}
