.sidebar {
  width: 220px;
  background-color: #dcf3fb;
  padding: 20px;
  height: 650px;
  border-radius: 25px;
  position: fixed;
}
.logo {
  display: block;
  width: 100px;
  margin: 0 auto 20px;
}
