body {
  font-family: PoppinsRegular;
  background-color: #030448;
  color: #dcf3fb;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding-left: 300px;
  padding-top: 0px;
}
